.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  position: absolute;
  top: 0;
  width: 100%;
  height: 95rem;
  padding-top: 7rem;
  background-image: url("../../assets/images/hero.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero__information {
  padding: 1rem;
  width: 85%;
}

.hero__title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.hero__description {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.hero__btn-start {
  padding: 0.5rem;
  font-size: 2rem;
  color: var(--white-color);
  background-color: var(--black-color);
  border-radius: 1rem;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .hero {
    width: 100%;
    height: 100vh;
  }

  .hero__information {
    width: 40rem;
    padding: 0;
  }

  .hero__title {
    font-size: 7rem;
    width: 50rem;
  }

  .hero__description {
    font-size: 2.5rem;
    width: 50rem;
  }

  .hero__btn-start {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1600px) {
  .hero__title {
    font-size: 9rem;
    width: 70rem;
    line-height: 10rem;
  }

  .hero__description {
    font-size: 2.5rem;
    width: 65rem;
  }
}
