.sidebar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  background-color: rgba(var(--color-black-rgb), 0.438);
  transition:
    opacity 1s,
    visibility 1s;
}

.sidebar-wrapper--show {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 1s,
    visibility 1s;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  width: 90%;
  height: 90%;
  position: relative;
  border-radius: 0.625rem;
}

.sidebar__close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.625rem 0.625rem 0 0;
  font-size: 1.875rem;
}

.sidebar__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 90%;
  height: 90%;
  list-style: none;
}

.sidebar__list-item {
  margin-bottom: 1.25rem;
}

.sidebar__subtitle {
  font-size: 1.875rem;
  margin-bottom: 0.625rem;
}

.sidebar__sublinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.sidebar__sublinks-link {
  text-decoration: none;
  font-size: 0.9375rem;
  color: var(--color-black);
  padding: 0.625rem;
  font-weight: 700;
}

.sidebar__sublinks-link-icon {
  font-size: 0.9375rem;
}

@media only screen and (min-width: 1024px) {
  .sidebar-wrapper {
    display: none;
  }
}
