.sidebar__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  background-color: rgba(var(--black-int-color), 0.438);
  transition: opacity 1s, visibility 1s;
}

.sidebar__wrapper--show {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  width: 90%;
  height: 90%;
  position: relative;
  border-radius: 1rem;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
  font-size: 3rem;
}

.sidebar__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 90%;
  height: 90%;
  list-style: none;
}

.sidebar__list li {
  margin-bottom: 2rem;
}

.sidebar__list li h4 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.sidebar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.sidebar__list li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--black-color);
  padding: 1rem;
  font-weight: 700;
}

.icon {
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .sidebar__wrapper {
    display: none;
  }
}
