@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

* {
  font-family: Rajdhani, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}
