.hero_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  position: absolute;
  top: 0;
  width: 100%;
  height: 95rem;
  padding-top: 7rem;
  background-image: url("./svgs/hero.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero_container_information {
  padding: 1rem;
  width: 85%;
}

.hero_container_information h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.hero_container_information p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.hero_container_information button {
  padding: 0.5rem;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  border-radius: 1rem;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .hero_container {
    width: 100%;
    height: 100vh;
  }

  .hero_container_information {
    width: 40rem;
    padding: 0;
  }

  .hero_container_information h1 {
    font-size: 7rem;
    width: 50rem;
  }

  .hero_container_information p {
    font-size: 2.5rem;
    width: 50rem;
  }

  .hero_container_information button {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1600px) {
  .hero_container_information h1 {
    font-size: 9rem;
    width: 70rem;
    line-height: 10rem;
  }

  .hero_container_information p {
    font-size: 2.5rem;
    width: 65rem;
  }
}
