.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  background-color: transparent;
  position: fixed;
}

.header_container_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
}

#bars {
  font-size: 3rem;
  margin-right: 1rem;
  color: #fff;
}

.header_container_nav {
  display: none;
}

.sign-in {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header_container {
    flex-flow: row wrap;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    position: relative;
  }

  .header_container_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    height: 100%;
  }

  .header_container_nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    list-style: none;
  }

  .header_container_nav_list li button {
    font-size: 2rem;
    background: none;
    border: none;
    margin: 0 3rem 0 3rem;
    color: #fff;
  }

  .sign-in {
    display: block;
    font-size: 2rem;
    background-color: #000;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    color: #fff;
    position: absolute;
    right: 0;
    margin-right: 1rem;
  }

  #bars {
    display: none;
  }
}
